:root {
	--bg-color: #827397;
	--page-spacing: 50px;
}

body{background: var(--bg-color);}

.TopNav{
	background-color: #00004d;
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;}

.BarContainer{
	position: absolute;
	margin-left: var(--page-spacing);
	margin-right: var(--page-spacing);
	display:  grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	align-items: end;
	height: 800px;
	width: 1200px;

}

.Bar{
	position: relative;
	background-color: yellow;
	text-align:center;
	justify-content: center;
	box-sizing: border-box;
	bottom: 0px;
	padding: 75px;
	margin-left: var(--page-spacing);
	margin-right: var(--page-spacing);
	font-size: 24px;
	color: purple;
	font-family: 'Righteous', cursive;
	transition: background-color .9s;
}

.Bar:hover{
	background-color: #bccb4d;
}

h1{
	text-align:center;
	color: yellow;
	font-family: 'Righteous', cursive;}



